<template>
  <v-layout v-if="!loading">
    <no-ssr>

      <navbar 
        :items="navbar"
      />

      <toolbar
        :users="user"
        :choices="choices"
      />

      <nuxt-child />

    </no-ssr>
  </v-layout>
</template>

<script>
  import Global from '~/plugins/mixins/global'
  import { mapGetters } from 'vuex'
  import _ from 'lodash'

  export default { data: () => ({
    drawer: null,
    choices: [
      { title: 'Log out', goTo: '/logout' }
    ],
    navbar: [
      { icon: 'dashboard', text: 'Dashboard', goTo: '/dashboard' },
      { icon: 'devices',
        text: 'Digitize',
        items: [
          { icon: 'library_add', text: 'Check-In', goTo: '/dashboard' },
          { icon: 'view_list', text: 'Records', goTo: '/dashboard' },
          { icon: 'list', text: 'List', goTo: '/dashboard' },
          { icon: 'cloud_upload', text: 'FTP Batch', goTo: '/dashboard' }
        ]
      },
      { icon: 'assignment',
        text: 'Documents',
        items: [
          { icon: 'add', text: 'Compose', goTo: '/dashboard' },
          { icon: 'inbox', text: 'Inbox', goTo: '/dashboard' },
          { icon: 'send', text: 'Sent', goTo: '/dashboard' },
          { icon: 'insert_drive_file', text: 'Drafts', goTo: '/dashboard' },
          { icon: 'directions', text: 'Route', goTo: '/dashboard' }
        ]
      },
      { icon: 'supervisor_account',
        text: 'Manage',
        items: [
          { icon: 'assignment', text: 'Record List', goTo: '/dashboard' },
          { icon: 'publish', text: 'Upload', goTo: '/dashboard' },
          { icon: 'library_books', text: 'Metadata', goTo: '/dashboard' },
          { icon: 'reorder', text: 'Categories', goTo: '/dashboard' },
          { icon: 'view_list', text: 'Records', goTo: '/dashboard' },
          { icon: 'language', text: 'System', goTo: '/dashboard' }
        ]
      },
      { icon: 'assignment_turned_in',
        text: 'Audit Trail',
        items: [
          { icon: 'dashboard', text: 'Top Document Accessed', goTo: '/dashboard' },
          { icon: 'people', text: 'Top Users', goTo: '/dashboard' },
          { icon: 'person', text: 'User Rights Logs', goTo: '/dashboard' },
          { icon: 'person', text: 'User Creation Logs', goTo: '/dashboard' },
          { icon: 'assignment_turned_in', text: 'Audit Trail', goTo: '/dashboard' }
        ]
      },
      { icon: 'person',
        text: 'Account',
        items: [
          { icon: 'list', text: 'User List', goTo: '/dashboard' },
          { icon: 'person_outline', text: 'Roles', goTo: '/dashboard' },
          { icon: 'group', text: 'Groups', goTo: '/dashboard' },
          { icon: 'person', text: 'Profile', goTo: '/dashboard' }
        ]
      }
    ],
    loading: false,
    navs: true,
    alert: true
  }),
  computed: {
    ...mapGetters('login', ['user']),
    ...mapGetters('storeevents', ['nav'])
  },
  watch: {
    nav () {
      // force true due to v-navigation-drawer has no feature that tracks outside click
      if (this.nav === true) {
        this.navs = true
      } else {
        this.navs = true
      }
    }
  },
  mixins: [Global],
  props: {
    source: String
  },
  mounted () {
    let user = null
    if (process.client) {
      if (!_.isEmpty(localStorage.vuex)) {
        user = JSON.parse(localStorage.vuex).login.user
      }

      if (!_.isEmpty(user)) {
        this.loading = false
      } else {
        this.loading = true
        this.goTo('/')
      }
    }
  }
}
</script>
