<template>
<v-layout row wrap align-center justify-center class="bg">
  <no-ssr>
    <div class="h-100 w-100" style="position: absolute;">
      <v-img :src="crms.bg" width="100%" height="100%"/>
    </div>
    <!-- <v-flex  class="ma-3" md5 sm8 xs12 v-if="!loading"> -->
    <v-flex  class="ma-3" md5 sm8 xs12>
    <v-card class="elevation-12 pa-3">
      <v-card-text class="pa-0">
        <h3>Forgot your Password?</h3>
        <p class="mt-3">Please enter your email address in the field box below, once completed, you will receive an email containing a password reset instructions.</p>
      </v-card-text>
      <v-text-field 
        v-model="form.email" 
        :error-messages="error.email"
        label="Email Address"
        solo/>

      <v-card-actions class="pa-0">
        <v-btn depressed @click="goTo('/')">Back</v-btn>
        <v-spacer></v-spacer>
        <v-btn
          class="px-5"
          depressed
          color="mainColor"
          dark
          :loading="load"
          @click="forgotpassword"
          >SEND
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
  </no-ssr>
</v-layout>
</template>

<script>
import Error from '~/plugins/mixins/error_handling'
import { mapActions } from 'vuex'
import Global from '~/plugins/mixins/global'
import ImagePath from '~/plugins/mixins/imagepath'
import _ from 'lodash'

export default {
  data: () => ({
    form: {
      email: ''
    },
    load: false,
    loading: false
  }),
  mixins: [
    Error,
    Global,
    ImagePath
  ],
  methods: {
    ...mapActions('login', ['FORGOT_PASSWORD']),
    forgotpassword () {
      this.goTo('/')
      // this.load = true
      // this.$set(this.form, 'domain_name', window.location.origin)
      // this.FORGOT_PASSWORD(this.form).then(data => {
      //   this.load = false
      //   this.goTo('/')
      // }).catch(data => {
      //   this.load = false
      //   this.resetError()
      //   this.setError(data.data)
      // })
    }
  },
  created () {
    this.loading = true
    let user = null
    if (process.client) {
      if (!_.isEmpty(localStorage.vuex)) {
        user = JSON.parse(localStorage.vuex).login.user
      }

      if (!_.isEmpty(user)) {
        // if (user.user.profile.role === 'admin') {
        //   localStorage.setItem('token', user.token)
        //   this.goTo('/dashboard')
        // }
      } else {
        this.loading = false
        localStorage.clear() // this will clear the localstorage if the user is not found in vuex
      }
    }
  }
}
</script>