<template>
  <v-layout row wrap align-center justify-center class="bg">
    <no-ssr>
      <div class="h-100 w-100" style="position: absolute;">
        <v-img :src="crms.bg" width="100%" height="100%"/>
      </div>
      <v-flex  class="ma-3" md5 sm8 xs12>
        <v-card class="elevation-12 pa-3">
          <v-card-text class="pa-0 mb-3">
            <h3>Reset password</h3>
          </v-card-text>
          <v-text-field
            v-model="form.password"
            :error-messages="error.detail"
            label="New password"
            solo/>

          <v-card-actions class="pa-0">
            <v-btn depressed @click="goTo('/')">Back</v-btn>
            <v-spacer></v-spacer>
            <v-flex md4 sm5 xs6>
              <v-btn 
                block 
                depressed
                color="aeon-yellow"
                dark
                :loading="load"
                @click="newpassword()"
                >SUBMIT
              </v-btn>
            </v-flex>
          </v-card-actions>
        </v-card>
      </v-flex>
    </no-ssr>
  </v-layout>
</template>

<script>
import Global from '~/plugins/mixins/global'
import Error from '~/plugins/mixins/error_handling'
import ImagePath from '~/plugins/mixins/imagepath'
import { mapActions } from 'vuex'
import _ from 'lodash'

export default {
  data: () => ({
    form: {
      password: ''
    },
    load: false,
    getToken: ''
  }),
  mixins: [
    Global,
    Error,
    ImagePath
  ],
  computed: {
    token () {
      if (process.client) {
        return window.location.search
      }
    }
  },
  created () {
    if (!this.token) {
      this.goTo('/')
    } else {
      let nToken = _.replace(this.token.split('?')[1], /token=/g, '')
      let BaseNewToken = _.replace(nToken, /%5C/g, '')
      if (process.client) {
        localStorage.setItem('token', BaseNewToken)
      }
    }
  },
  methods: {
    ...mapActions('login', ['RESET_PASSWORD']),
    newpassword () {
      this.goTo('/')
      // this.load = true
      // this.RESET_PASSWORD(this.form).then(data => {
      //   this.load = false
      //   this.goTo('/')
      // }).catch(data => {
      //   this.load = false
      //   if (_.isArray(data.data.re_password)) {
      //     this.setError({ detail: data.data.re_password[0] })
      //   } else {
      //     this.setError(data.data)
      //   }
      // })
    }
  }
}
</script>