<template>
  <v-content>
    <v-layout fluid class="pb-4" row wrap>
      <div class="w-100 text-center">
        <h1>DASHBOARD</h1>
      </div>
    </v-layout>
  </v-content>
</template>

<script>
  import Global from '~/plugins/mixins/global'

  export default {
    mixins: [Global],
    data: () => ({
  
    })
  }
</script>
